.Calendar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  position: relative;
  width: 252px; }

.Calendar:nth-child(even) {
  margin-top: 20px; }

@media only screen and (min-width: 584px) {
  .Calendar:nth-child(even) {
    margin-top: 0;
    margin-left: 20px; } }

.Calendar-incrementor {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 10px;
  left: 6px;
  padding: 2px;
  position: absolute;
  top: 4px; }

.Calendar-incrementor--forward {
  left: auto;
  right: 6px; }

.Calendar-incrementor.is-firstCalendar,
.Calendar-incrementor.is-onlyCalendar {
  display: inline-block; }

@media only screen and (min-width: 584px) {
  .Calendar-incrementor,
  .Calendar-incrementor.is-firstCalendar {
    display: none; }
  .Calendar-incrementor.is-onlyCalendar,
  .Calendar-incrementor.is-leftAndBefore,
  .Calendar-incrementor.is-rightAndAfter {
    display: inline-block; } }

.Calendar-name {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300; }

.Calendar-labels {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 100%; }

.Calendar-label {
  align-items: center;
  color: #222222;
  display: flex;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: bold;
  height: 36px;
  justify-content: center;
  margin: 1px;
  width: 36px; }

.Calendar-label--weekend {
  color: #4a90e2; }

.Calendar-row {
  display: flex;
  justify-content: flex-start;
  width: 100%; }

.MonthNavigator {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100% - 10px); }

.MonthNavigator-navButton {
  background-color: #fff;
  border: none;
  font-size: 10px;
  padding: 2px; }

.MonthNavigator-icon.MonthNavigator-icon {
  font-size: 20px;
  color: #4a90e2; }

.MonthTitle {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300; }
